@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply min-h-full;
  background-color: rgb(
    rgb(232, 223, 223),
    rgb(229, 237, 229),
    rgb(229, 229, 240)
  );

  background-size: auto;
}

h1 {
  color: rgb(228 228 231);
  font-weight: bold;
}

/* Change Autocomplete styles in Chrome & Edge*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-text-fill-color: blue;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: blue;
}
