.swipe {
  position: absolute;
  height: 100% !important;
  max-height: 200px !important;
}

.id_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  border: 4px solid blue;
  height: 100vh;
}

.id_cards {
  border: 4px solid green;
  height: auto;
  position: relative;
}

.id_swipe-infos {
  background-color: red;
  grid-row: 2 / -1;
}
